@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 75em) {
    html {
      font-size: 55%; } }
  @media screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  color: #000; }

.heading-primary {
  font-size: 7rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 2rem; }
  @media screen and (max-width: 40.62em) {
    .heading-primary {
      font-size: 5rem; } }

.heading-secondary {
  font-size: 6rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 3rem;
  text-align: center; }
  @media screen and (max-width: 40.62em) {
    .heading-secondary {
      font-size: 4rem; } }

.heading-tertiary {
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem; }
  .heading-tertiary--white {
    color: #fff; }
  @media screen and (max-width: 40.62em) {
    .heading-tertiary {
      font-size: 3.5rem; } }

.paragraph-primary {
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.32;
  margin-bottom: 3rem; }
  .paragraph-primary--center {
    text-align: center;
    width: 50%; }
    @media screen and (max-width: 68.75em) {
      .paragraph-primary--center {
        width: 70%; } }
    @media screen and (max-width: 56.25em) {
      .paragraph-primary--center {
        width: 80%; } }

.paragraph-tertiary {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5;
  margin-bottom: 4rem; }
  .paragraph-tertiary--white {
    color: rgba(255, 255, 255, 0.8); }

.btn {
  color: #e6e6e6;
  background-color: #540cfa;
  text-decoration: none;
  border-radius: 4px;
  transition: all .2s; }
  .btn--primary {
    font-size: inherit;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(60, 9, 179, 0.3); }
  .btn--secondary {
    font-size: 1.6rem;
    padding: 1.6rem 2.1rem;
    cursor: pointer; }
  .btn--inline {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 900; }
  .btn:hover {
    background-color: #4204cf;
    color: #fff; }

.cta {
  display: flex;
  margin-top: 3rem;
  align-self: stretch; }
  .cta__input {
    flex: 0 0 50%;
    padding-left: 3rem; }

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0 0 25%; }
  @media screen and (max-width: 31.25em) {
    .feature-card {
      padding: 5rem;
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin-bottom: 2rem;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(60, 9, 179, 0.3); } }
  .feature-card__icon {
    margin-bottom: 1.5rem; }
  .feature-card__title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.8rem; }
  .feature-card__description {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.5;
    margin-bottom: 1rem; }

.platform-card {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1.9rem;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 70%; }
  .platform-card__img {
    margin: 1.7rem; }
  .platform-card__description {
    margin-right: 1.7rem; }

.footer {
  display: flex;
  flex-direction: column; }
  .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 10rem;
    text-align: center; }
    .footer-box__paragraph {
      font-size: 1.8rem;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.8); }
    .footer-box__cta {
      align-self: stretch;
      justify-content: center; }
      .footer-box__cta > input {
        flex: 0 0 30%; }
    @media screen and (max-width: 40.62em) {
      .footer-box {
        margin: 8rem 6rem; } }
  .footer-social {
    text-align: center;
    padding: 2rem; }
    .footer-social__list {
      display: flex;
      list-style: none;
      justify-content: center;
      padding: 1rem; }
    .footer-social__item {
      margin: 0 1rem; }
    .footer-social__copy {
      font-size: 1.2rem;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.5); }

.header__container {
  display: flex;
  justify-content: flex-start;
  margin: 8.5rem 13rem; }
  @media screen and (max-width: 56.25em) {
    .header__container {
      flex-direction: column; } }
  @media screen and (max-width: 40.62em) {
    .header__container {
      margin: 8rem 10rem; } }

.header__content-box {
  padding-top: 6rem;
  flex: 0 0 60%;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 56.25em) {
    .header__content-box {
      flex: 0 0 100%; } }

.header__content {
  margin-bottom: auto;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }
  @media screen and (max-width: 56.25em) {
    .header__content {
      margin-bottom: 4rem; } }

.header__content__paragraph {
  width: 65%;
  margin-bottom: auto; }
  @media screen and (max-width: 75em) {
    .header__content__paragraph {
      width: 85%; } }

.header__clients {
  margin-bottom: 3rem;
  animation-name: moveInBottom;
  animation-duration: 1s; }

.header__client-text {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin-bottom: 1.6rem;
  color: rgba(0, 0, 0, 0.3); }

.header__images img {
  margin-right: 3.7rem; }
  @media screen and (max-width: 40.62em) {
    .header__images img {
      margin-right: 2rem; } }

.header__img {
  animation-name: moveInRight;
  animation-duration: 1s; }
  .header__img img {
    width: 100%; }
    @media screen and (max-width: 56.25em) {
      .header__img img {
        display: none; } }
    @media screen and (max-width: 31.25em) {
      .header__img img {
        display: block; } }

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.6rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.4rem; }
  .nav__main {
    display: flex;
    list-style: none;
    justify-content: space-around; }
    @media screen and (max-width: 40.62em) {
      .nav__main {
        display: none; } }
  .nav__login {
    display: flex;
    list-style: none; }
  .nav__item {
    margin: 0 3rem; }
  .nav__item a {
    text-decoration: none;
    color: inherit;
    padding-bottom: 1.5rem;
    padding-top: 1.3rem;
    transition: all .2s; }
  .nav__item a:hover {
    color: #540cfa;
    border-bottom: 3px solid #540cfa;
    border-top: 3px solid #540cfa; }
  .nav__bold {
    font-weight: 700; }

.section-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14rem 10rem; }
  @media screen and (max-width: 56.25em) {
    .section-features {
      margin: 10rem 5rem; } }
  .section-features__paragraph {
    font-size: 1.8rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8); }
  .section-features__box {
    display: flex;
    margin-top: 8rem;
    justify-content: space-around; }
    @media screen and (max-width: 31.25em) {
      .section-features__box {
        flex-direction: column; } }

.section-shows {
  display: flex;
  justify-content: space-between; }
  .section-shows figure:not(:last-child) {
    margin-right: 1rem; }
  .section-shows__img {
    width: 100%;
    display: block; }

.section-platform {
  margin: 14rem 0;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 56.25em) {
    .section-platform {
      margin: 10rem 0; } }
  @media screen and (max-width: 40.62em) {
    .section-platform {
      flex-direction: column; } }
  .section-platform__content {
    align-self: center;
    margin-left: 10rem; }
  .section-platform__img {
    flex: 0 0 50%; }
    .section-platform__img img {
      width: 100%; }
    @media screen and (max-width: 40.62em) {
      .section-platform__img {
        margin: 4rem;
        margin-bottom: -5rem; } }

.section-reviews {
  background-color: #000;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 40.62em) {
    .section-reviews {
      flex-direction: column; } }
  .section-reviews__content {
    align-self: center;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10rem; }
  .section-reviews__images {
    display: flex;
    width: 100%;
    justify-content: center; }
    .section-reviews__images img {
      display: block;
      width: 100%;
      padding-right: 2rem; }
  .section-reviews__paragraph {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8); }
