*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  color: #000; }

.heading-primary {
  font-size: 7rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 2rem; }

.heading-secondary {
  font-size: 6rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 3rem;
  text-align: center; }

.heading-tertiary {
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem; }
  .heading-tertiary--white {
    color: #fff; }

.paragraph-primary {
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.32;
  margin-bottom: 3rem; }
  .paragraph-primary--center {
    text-align: center;
    width: 50%; }

.paragraph-tertiary {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5;
  margin-bottom: 4rem; }
  .paragraph-tertiary--white {
    color: rgba(255, 255, 255, 0.8); }

.footer {
  display: flex;
  flex-direction: column; }
  .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 10rem;
    text-align: center; }
    .footer-box__paragraph {
      font-size: 1.8rem;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.8); }
    .footer-box__cta {
      align-self: stretch;
      justify-content: center; }
      .footer-box__cta > input {
        flex: 0 0 30%; }
  .footer-social {
    text-align: center;
    padding: 2rem; }
    .footer-social__list {
      display: flex;
      list-style: none;
      justify-content: center;
      padding: 1rem; }
    .footer-social__item {
      margin: 0 1rem; }
    .footer-social__copy {
      font-size: 1.2rem;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.5); }

.header__container {
  display: flex;
  justify-content: flex-start;
  margin: 8.5rem 13rem; }

.header__content-box {
  padding-top: 6rem;
  flex: 0 0 60%;
  display: flex;
  flex-direction: column; }

.header__content {
  margin-bottom: auto; }

.header__content__paragraph {
  width: 65%;
  margin-bottom: auto; }

.header__clients {
  margin-bottom: 3rem; }

.header__client-text {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin-bottom: 1.6rem;
  color: rgba(0, 0, 0, 0.3); }

.header__images img {
  margin-right: 3.7rem; }

.header__img img {
  width: 100%; }

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.6rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.4rem; }
  .nav__main {
    display: flex;
    list-style: none;
    justify-content: space-around; }
  .nav__login {
    display: flex;
    list-style: none; }
  .nav__item {
    margin: 0 3rem; }
  .nav__item a {
    text-decoration: none;
    color: inherit; }
  .nav__bold {
    font-weight: 700; }

.section-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14rem 10rem; }
  .section-features__paragraph {
    font-size: 1.8rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8); }
  .section-features__box {
    display: flex;
    margin-top: 8rem;
    justify-content: space-around; }

.section-shows {
  display: flex;
  justify-content: space-between; }
  .section-shows figure:not(:last-child) {
    margin-right: 1rem; }
  .section-shows__img {
    width: 100%;
    display: block; }

.section-platform {
  margin: 14rem 0;
  display: flex;
  justify-content: space-between; }
  .section-platform__content {
    align-self: center;
    margin-left: 10rem; }
  .section-platform__img {
    flex: 0 0 50%; }
    .section-platform__img img {
      width: 100%; }

.section-reviews {
  background-color: #000;
  display: flex;
  align-items: center; }
  .section-reviews__content {
    align-self: center;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10rem; }
  .section-reviews__images {
    display: flex;
    width: 100%;
    justify-content: center; }
    .section-reviews__images img {
      display: block;
      width: 100%;
      padding-right: 2rem; }
  .section-reviews__paragraph {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8); }
