.footer {
  display: flex;
  flex-direction: column;

  &-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 10rem;
    text-align: center;

    &__paragraph {
      font-size: 1.8rem;
      font-weight: 300;
      color: rgba($color-black, 0.8);
    }

    &__cta {
      align-self: stretch;
      justify-content: center;

      &>input {
        flex: 0 0 30%;
      }
    }

  }

  &-social {
    text-align: center;
    padding: 2rem;

    &__list {
      display: flex;
      list-style: none;
      justify-content: center;
      padding: 1rem;
    }

    &__item {
      margin: 0 1rem;
    }

    &__copy {
      font-size: 1.2rem;
      font-weight: 500;
      color: rgba($color-black, 0.5);
    }
  }
}