.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.6rem 0;
  border-bottom: 1px solid rgba($color-black, 0.1);
  font-size: 1.4rem;

  &__main {
    display: flex;
    list-style: none;
    justify-content: space-around;

    @include respond($phone-l) {
      display: none;
    }
  }

  &__login {
    display: flex;
    list-style: none;
  }

  &__item {
    margin: 0 3rem;
  }

  &__item a {
    text-decoration: none;
    color: inherit;
  }

  &__bold {
    font-weight: 700;
  }
}