body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  color: $color-black;
}

.heading-primary {
  font-size: 7rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 2rem;

  @include respond($phone-l) {
    font-size: 5rem;
  }
}

.heading-secondary {
  font-size: 6rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 3rem;
  text-align: center;

  @include respond($phone-l) {
    font-size: 4rem;
  }
}

.heading-tertiary {
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem;

  &--white {
    color: $color-white;
  }

  @include respond($phone-l) {
    font-size: 3.5rem;
  }
}

.paragraph-primary {
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.32;
  margin-bottom: 3rem;

  &--center {
    text-align: center;
    width: 50%;

    @include respond($laptop) {
      width: 70%;
    }

    @include respond($tab) {
      width: 80%;
    }
  }
}

.paragraph-tertiary {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgba($color-black, 0.8);
  line-height: 1.5;
  margin-bottom: 4rem;

  &--white {
    color: rgba($color-white, 0.8);
  }
}